<p class="text-muted">{{ page.date | date_to_string }}</p>

<p><img src="{{ page.image }}" class="img-responsive img-rounded"></p>

<audio preload="none" controls src="{{ page.link }}" style="width: 100%; height: 100%;"></audio>

<p class="text-right space-sm">収録時間: {{ page.duration }} / <a href="{{ page.link }}" target="_blank">MP3をダウンロード</a></p>

<p><a href="https://itunes.apple.com/jp/podcast/elle-height/id957185653" target="_blank" class="btn btn-primary">iTunesで購読</a> <a href="http://feedpress.me/elle-height" target="_blank" class="btn btn-default">RSSフィードを購読</a></p>

<h2>Notes</h2>