<h3 class="section-header">
  About elle-height
</h3>

<p><img src="https://pbs.twimg.com/profile_images/552677207584157696/7rYssgT-.jpeg" width="150" height="150" alt="Elle Kasai" class="img-rounded"></p>

<p>バンクーバーでUI/UXデザイナーになるべく奮闘中の､笠井枝理依のPodcast番組です｡異国の地で日々どんな勉強をしているのか､リラックスモードでお話します!</p>

<h3 class="section-header">
  Twitter
</h3>

<p>TwitterではPodcastの配信情報をツイートしています｡番組へのご感想やご質問は､<a href="https://twitter.com/hashtag/elleheight?src=hash" target="_blank">#elleheight</a>へどうぞ｡</p>

<p><a href="https://twitter.com/elleheight" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @elleheight</a></p>
