<h3 class="section-header">
  About elle-height
</h3>

<p>バンクーバーで奮闘中のElle Kasaiによる､Tech系Podcastです｡異国の地で日々どんな勉強をしているのか､リラックスモードでお話します!</p>

<hr>

<h3 class="section-header">
  Subscribe
</h3>

<p>RSSを購読すると、新しいエピソードを自動でダウンロード & 再生することができます｡iTunesでの配信も始まりましたので､よろしければご利用ください｡</p>

<p><i class="fa fa-rss fa-fw"></i> <a href="http://feeds.soundcloud.com/users/soundcloud:users:148673596/sounds.rss" target="_blank">RSSフィードを購読</a><br><i class="fa fa-apple fa-fw"></i> <a href="https://itunes.apple.com/jp/podcast/elle-height/id1010563156" target="_blank">iTunesで購読</a></p>

<hr>

<h3 class="section-header">
  Twitter
</h3>

<p>TwitterでPodcastの配信情報をツイートしています｡番組へのご感想やご質問は､<a href="https://twitter.com/hashtag/elleheight?src=hash" target="_blank">#elleheight</a>へどうぞ!</p>

<p><a href="https://twitter.com/elleheight" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @elleheight</a></p>

<hr>

<h3 class="section-header">
  Author
</h3>

<p><img src="https://avatars0.githubusercontent.com/u/2410692?v=3&s=460" alt="Elle Kasai" width="150" height="150" class="img-rounded"></p>

<p>渋谷のITベンチャー企業でデザイナーとして働いていましたが､UI/UXデザイナーを志して2014年10月に日本を飛び出しました｡ボカロやゲーム実況､そして柴犬をこよなく愛するアラサー女子です｡</p>

<p><a href="http://ellekasai.com/" target="_blank" class="btn btn-primary">Go to My Personal Site →</a></p>

<p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ellekasai</a></p>
