<h3 class="section-header">
  About elle-height
</h3>

<p><img src="{{ site.photo }}" width="150" height="150" alt="Elle Kasai" class="img-rounded"></p>

<p>バンクーバーで奮闘中の､Elle KasaiのPodcast番組です｡異国の地で日々どんな勉強をしているのか､リラックスモードでお話します!</p>

<p>TwitterでPodcastの配信情報をツイートしています｡番組へのご感想やご質問は､<a href="https://twitter.com/hashtag/elleheight?src=hash" target="_blank">#elleheight</a>へどうぞ｡</p>

<p><a href="https://twitter.com/elleheight" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @elleheight</a></p>

<h3 class="section-header">
  Author
</h3>

<p>渋谷のITベンチャー企業でデザイナーとして働いていましたが､UI/UXデザイナーを志して2014年10月に日本を飛び出しました｡ボカロやゲーム実況､そして柴犬をこよなく愛するアラサー女子です｡</p>

<p><a href="http://ellekasai.com/" target="_blank" class="btn btn-primary">Go to My Blog →</a></p>

<p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ellekasai</a></p>


